*{
    padding: 0;
    margin: 0;
}
.personalInfo{
    padding: 20px;
    display: flex;
    justify-content: start;
    gap: 30px;
    width: 400px;
}

.personalInfo img{
    width: 100px;
    border: solid 0.2px;
}

.skillsContainer{
    padding: 20px;
}

.progress{
    width: 200px;
    background-color: rgba(0, 0, 255, 0.5);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
}

.aboutMe{
    width: 400px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutMe h2::before{
    content: ' ';
    width: 100px;
    height: 5px;
    position: absolute;
    top: 50px;
    background-color: blue;
}

.mainContainer{
    padding: 20px;
    display: flex;
    justify-content: center;
}